.vscode/
resources/

main.code-workspace
settings.ini
user.autocorrect.txt

modules/TODO - disable-proxy.module.ahk
modules/TODO - enable-proxy-overrides.module.ahk
modules/TODO - keyboard-keylocks.module.ahk
modules/TODO - prevent-sleep.module.ahk
